*{
    box-sizing: border-box;
}

.topbar{
    background-color: black;
}

.menu-list{
    display: block;
    color: white;
    text-align:left;
    font-size: 2em;
    padding-left: 2em;
}

.input-box{
    background-color:white;
    text-align: left;
    display: block;
}
#logo{
    display: block;
   margin-left: auto;
   margin-right: auto;
}

.first-section{
    background-image: url('../img/iphone11pro.jpg');
    background-color: black;
    width: auto;
    height:45em;
    
}

.second-section{
    width:auto ;
    height:45em ;
    background-color:white ; 
    background-image:url('../img/iphone11.jpg');
}

#main{
    color: white;
}

.div-for-second-section{
    text-align: center;
    font-size: 2em;
    color: black;
    padding-top: 2em;
}

#heading-1{
    font-family: 'Roboto';  
}